# Assistant middleware from GitHub Release
https://github.com/jhakulin/azureai-assistant-tool/releases/download/v0.5.1/azure_ai_assistant-0.5.1a1-py3-none-any.whl

# GUI Framework
PySide6

# Azure Cognitive Services Speech SDK
azure-cognitiveservices-speech

# Beautiful Soup
beautifulsoup4

# Realtime Python Library
https://github.com/jhakulin/realtime-ai/releases/download/v0.1.8/realtime_ai-0.1.8-py3-none-any.whl
